.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 12px 18px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.btn-primary {
  color: var(--primary-white);
  background-color: var(--primary-red);
}

.btn-primary:hover {
  background-color: var(--primary-red-3);
}

.btn-secondary {
  color: var(--primary-white);
  background-color: var(--primary-black);
}

.btn-secondary:hover {
  background-color: var(--primary-black-3);
}

.btn-secondary-contrast {
  color: var(--primary-white);
  background-color: var(--primary-black-3);
}

.btn-link {
  padding: 0;
  color: var(--primary-white);
  background-color: transparent;
}

.btn-icon {
  padding: 12px 13px;
}